<ul class="navigation__social-media">
    <li class="social-media__item"><a href="/" class="social-media__link" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
    <li class="social-media__item"><a href="/" class="social-media__link" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
    <li class="social-media__item"><a href="/" class="social-media__link" target="_blank" rel="noopener" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
</ul>