.footer {
    color: $color-white;
    background-color: $color-blue;
    padding: 2rem 0 4rem 0;

    &__container {
        font-weight: 300;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__copyright {
        font-size: $font-size-m;
        text-align: center;
        line-height: 2.2rem;
        order: 2;

        a {
            color: $color-white;
        }
    }
    
    &__list {
        list-style-type: none;
        white-space: nowrap; 
        margin-bottom: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        order: 1;
    }

    &__item {
        font-size: $font-size-m;
        margin-bottom: 1rem;

        &:not(:first-child):before {
            content: "";
            padding: 1rem;
        }
    }
    
    &__link {
        color: $color-white;
        padding: .5rem;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .footer {

        &__container {
            flex-direction: row;
            justify-content: space-between;
        }

        &__list {
            order: 2;
        }

        &__copyright {
            text-align: start;
            order: 1;
        }
    }  
 }

 @include respond(tab-land) {
     .footer {

         &__container {
            padding: 0 4rem;
         }
     }
 }
