.footer {
    color: $color-white;
    background-color: $color-blue;
    padding: 2rem 0 4rem 0;

    &__container {
        font-size: 1.4rem;
        font-weight: 300;
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__copyright {
        text-align: center;
        line-height: 2.2rem;
        margin-bottom: 1.6rem;

        a {
            color: $color-white;
        }
    }
    
    &__list {
        list-style-type: none;
        white-space: nowrap; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }

    &__item {
        font-size: 1.2rem;
        margin-bottom: 1rem;

        &:not(:first-child):before {
            content: "";
            padding: 1rem;
        }
    }
    
    &__link {
        color: $color-white;
        padding: .5rem;
    }
}

