.footer {
    background-color: $color-blue;
    color: $color-light-pink;
    padding: 2rem 0 5rem 0;

    &__container {
        max-width: 1040px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 300;

        .copyright {
            text-align: center;

            a {
                text-decoration: none;
                color: $color-light-pink;
            }
        }

        .footer-menu__list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin-top: 1.6rem;
            white-space: nowrap;
            

            .footer-menu__item {
                &:not(:first-child):before {
                    content: "•";
                    padding: 1rem;
                }
            }
            
            .footer-menu__link {
                text-decoration: none;
                color: $color-light-pink;
            }
        }
    }
}

