.navigation {
    padding: 0 4vw;

    &__list {
        font-size: 1.2rem;
        list-style-type: none;
        white-space: nowrap; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        
        &:not(:first-child):before {
            content: "";
            color: $color-blue;
            padding: .5rem;
        }
    }

    &__link {
        color: $color-blue;
        text-transform: uppercase;
        padding: .5rem;
    }
}
