.page {
    padding: 0 0 4rem;
    background-color: $color-white;
    flex-grow: 1;

    &__container {
        padding: 0 2rem;
        max-width: $max-width;
        margin: 0 auto;
        width: 100%;
    }

    &__header {
        text-align: center;
        padding: 6.5rem 3rem 5rem;
    }

    &__title {
        font-size: 3* $font-size-s;
        font-weight: 700;
        line-height: 1.15;
    }

    &__cover {
        background-size: cover;
        background-position: center;
        height: 350px;
        margin: 0 -4rem 4rem;
    }

    &__markdown {
        margin: 0 auto;
        font-family: $font-family-content;
        color: $color-dark-grey;
        font-size: $font-size-l;
        line-height: 1.9;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}

.post-template {
    .posts {

        &__container {
            padding: 0;
        }
    }

}

.category-template {

    .page {

        &__header {
            background: $color-light-green no-repeat 50%;
            background-size: cover;
            color: $color-light-pink;
            text-align: center;
            overflow: hidden;
        }

        &__header-content {
            min-height: 150px;
            max-height: 450px;
            padding: 1.2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1080px;
            margin: 0 auto;
            padding: 10vw 4vw;
            text-align: center;
        }

        &__title {
            display: block;
            text-transform: capitalize;
        }
    }
}

// MEDIA QUERIES

@include respond(tab-port) {
    .page {

        &__article {
            z-index: 50;
            position: relative;
        }

        &__header {
            padding: 6.5rem 3rem 3rem;
        }

        &__title {
            max-width: 940px;
            font-size: 5* $font-size-s;
        }

        &__cover {
            background-color: $color-grey;
            height: 400px;
            margin: 0 -2rem -100px;
        }

        &__content {
            position: relative;
            background-color: $color-white;
            padding: 5rem 7rem 0;

            &:before {
                content: '';
                position: absolute;
                top: 15px;
                left: -5px;
                width: 20px;
                height: 200px;
                background: rgba(39, 44, 49, .15);
                transform: rotate(-5deg);
                z-index: -1;
                filter: blur(5px);
            }

            &::after {
                content: '';
                position: absolute;
                top: 15px;
                right: -5px;
                width: 20px;
                height: 200px;
                background: rgba(39, 44, 49, .15);
                transform: rotate(5deg);
                z-index: -1;
                filter: blur(5px);
            }
        }
    }

    .category-template {

        .page {

            &__header {
                padding: 3rem;
            }
        }
    }
}

.no-image {

    .page__content {
        padding-top: 0;
    }

    .page__content:before,
    .page__content:after {
        display: none;
    }
}

@include respond(tab-land) {
    .page {
        padding: 0 4rem 4rem;

        &__container {
            padding: 0 4rem;

        }

        &__cover {
            height: 600px;
            margin: 0 -6rem -100px;
        }

        &__markdown {
            max-width: 920px;
            font-size: $font-size-xl;
        }

    }

    .post-template {
        .posts {
            .post {
                flex: 1 1 260px;
            }
        }

    }
}

@include respond(desktop) {

    .page {

        &__cover {
            height: 800px;
            margin: 0 -10rem -165px;
            border-radius: 5px;
        }

        &__content {
            padding: 7rem 10rem 0;
        }
    }
}


//  + POST STYLES


.page {

    &__metadate {
        font-size: $font-size-m;
        font-weight: 700;
        line-height: 3rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-dark-grey;

        .divider {
            display: inline-block;
            margin: 0 .5rem;
        }
    }

    &__date {
        color: $color-blue;
    }

    &__category {
        color: $color-blue;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {
    .page {

        &__metadate {
            font-size: $font-size-m;
        }
    }
}