.posts {
    // padding: 0 4vw;

    &__container {
        max-width: 1080px;
        margin: 2rem auto;
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
    }
}

.post {
    min-height: 300px;
    margin: 1rem;
    background: $color-white;
    border-radius: 5px;
    flex-direction: column;
    flex: 1 1 300px;
    
    &__img {
        width: auto;
        height: 250px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 5px 5px 0 0;
    }

    &__description {
        padding: 2.5rem;

        &-link {
            color: $color-black ;

            .post-tag {
                font-size: 1.2rem;
                color: $color-grey;
                text-transform: uppercase;
                letter-spacing: .5px;
                margin-bottom: .5rem;
                display: block;
            }

            .post-title {
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: .5px;
                margin-bottom: 1rem;
            }

            .post-excerpt {
                font-size: 1.6rem;
                font-family: 'EB Garamond', serif;
                letter-spacing: .5px;
                line-height: 2.2rem;
                margin-bottom: 4rem;
            }
        }

        .post-info {
            font-size: 1.2rem;
            color: $color-grey;
            text-transform: uppercase;
            letter-spacing: .5px;
            text-align: end;
            display: block;
        } 
    }   
}

