//color
$color-light-pink: #fbf9fa;
$color-light-green: #8daeae;
$color-blue: #3875ad;
$color-white: #fff;
$color-grey: #707275;
$color-dark-grey: #3c484e;
$color-black: #000;


//font
$font-family-basic: 'Roboto', sans-serif;
$font-family-content: 'Lato', sans-serif;

$font-size-xs: 0.6rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;


//spaces 
$space-s: 1rem;


//page max-width
$max-width: 1080px;
