//color
$color-light-pink: #fbf9fa;
$color-light-green: #8daeae;
$color-blue: #4989c2;
$color-white: #fff;
$color-grey: #84878b;
$color-dark-grey: #3c484e;
$color-black: #000;


//font
$font-family-basic: 'Roboto', sans-serif;
$font-family-content: 'Lora', Georgia, serif;

$font-size-xs: 0.6rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;
