--- 
layout: default
--- 

{% include page-navigation.html %}
<main class="page">
    <div class="page__container">
        <article class="page__article {% unless page.cover %}no-image{% endunless %}">
            <section class="page__header">
                <h1 class="page__title">{{ page.title }}</h1>
            </section>
            {% if page.cover %}
                <div class="page__cover" style="background-image: url(/{{ site.baseurl }}{{ page.cover }})"></div>
            {% endif %}
            <section class="page__content">
                <div class="page__markdown">
                    {{ content }}
                </div>
            </section>
        </article>
    </div>
</main>
