--- 
layout: default
--- 

    {% include page-navigation.html %}
    <section class="page__header" style="background-image: url(/{{ site.baseurl }}{{ page.cover }})">
        <div class="page__header-content">
            <h1 class="page__title">{{ page.name }}</h1>
        </div>

    </section>


<main class="posts">
    <div class="posts__container">
        {% assign filtered_posts = site.posts | where: 'tag', page.name %}
            {% for post in filtered_posts %}     
                {% include posts-list.html %}
        {% endfor %}
    </div>
</main>




